:root {
  --primary-color: rgb(44, 70, 86);
  --secondary-color: rgba(0, 0, 0, 0.5);
  --background-color: #b4bdc227;
  --link-color: #06476dbf;
  --hover-background: linear-gradient(90deg, #8ea4b136, #a3b5bf33);
  --button-background: linear-gradient(90deg, #8ea4b166, #a3b5bf6b);
  --text-color: #3a5260;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  padding: 2%;
  border-radius: 6%;
  margin: 1%;
  width: 400px;
}

.menu-logo-container {
  width: 5em; 
  height: 3em; 
  overflow: hidden; 
  position: relative; 
  border-radius: 10%;
  margin: 3% 0 0 3%;
}

.menu-logo-container img { 
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.menu-title-container {
  margin: 0 4%;
}

.sub-menu {
  color: var(--secondary-color);
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  background: white; /* Background color */
  padding: 1em; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.icon-box {
  display: flex; /* Flexbox for icon and text alignment */
  align-items: center; /* Center vertically */
  margin-bottom: 1em; /* Space between icon boxes */
}

.text {
  color: #9ea9af; /* Text color */
}

.title {
  font-weight: 500; /* Bold title */
  color: var(--primary-color); /* Title color */
}

.bottom-container {
  color: var(--text-color); /* Text color */
  font-weight: 500; /* Font weight */
}

.bottom-container a {
  float: right; 
  background: var(--button-background); 
  padding: 0.5em 1em; 
  border-radius: 100px;
  color: var(--link-color); 
  font-weight: bold; 
  text-decoration: none; 
}

.bottom-container a:hover {
  background: var(--hover-background); 
  outline: 1px solid  #00030533;
}