.team-heading {
    text-align: center;
    /* font-size: 34px; */
    /* margin: 60px 0px; */
}

.team-card {
    width: 300px;
}

.team-card .team-card-inner {
    position: relative;
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
}

.team-card .team-card-inner .team-box .team-img-box {
    position: absolute;
    inset: 0;
    transition: 0.3s all linear;
}

.team-card .team-card-inner .team-box .team-img-box:hover {
    transform: scale(1.1);
}

.team-card .team-card-inner .team-box .team-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    border-top-left-radius: 50px;
    padding: 12px;
    background-color: white;
}

.team-icon::after {
    position: absolute;
    content: "";
    top: -18px;
    right: 0;
    background: transparent;
    width: 18px;
    height: 18px;
    border-bottom-right-radius: 30px;
    box-shadow: 10px 10px 0 6px #ffffff;
}

.team-icon::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: -18px;
    background: transparent;
    width: 18px;
    height: 18px;
    border-bottom-right-radius: 30px;
    box-shadow: 10px 10px 0 10px #fff;
}

.team-icon span {
    transform: rotate(-40deg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-top: 1px;
    border-radius: 50px;
    /* background-color: white; */
    transition: 0.3s all linear;
}

.team-card .team-icon span {
    background: black;
}

.team-card:nth-child(1) .team-icon span {
    background-color: #ad6637;

}

.team-card:nth-child(2) .team-icon span {
    background-color: white;
    filter: drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.5));
}

.team-card:nth-child(3) .team-icon span {
    background-color: #2d1258;;
}


.team-icon i {
    color: white;
    font-size: 24px;
}
.team-card:nth-child(2) .team-icon i {
    color: black;
}

.team-icon:hover span {
    cursor: pointer;
    transform: scale(1.1);
}

.team-content h3 {
    font-size: 24px;
    margin-bottom: 0px;
}